nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 43em;
}
.menu li {
  margin-right: 20px;
  font-family: cormorant boldit;
  font-size: 20px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  display: block;
  padding: 10px;
  color: #7e2b30;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}
.menu a:hover {
  color: #8b4869;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #8b4869;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (width < 800px) {
  .menu {
    display: none;
    margin: 0;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    margin-left: 140px;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: #fcfdfc;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 24px;
  }
}

.foot{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

.footeragain{
    place-self: center;
    
}

footer nav ul li{
    margin-left: 1em;
    font-family: cormorant boldit;
}

footer img{
margin-top: 3em;
margin-left: 8.5em;
max-height: 160px;
}